@import 'parciales/glificon.scss';
@import 'parciales/variables.scss';
@import 'parciales/televisor.scss';
@import 'parciales/base.scss';
@import 'parciales/team.scss';
.menu{
    background-color:black;
    whith:100%;
    color:white;
  padding:10px;

}
// .intro{
	
//     background-image: url("../img/home1.jpeg");
//     width:100%;
//     height:100vh;
//     // padding: 120px 20px 370px 330px;
//     background-size: cover;
//     background-position: center;

// }
body { font-size: 16px; }
.text-home1 { font-size: 1em; }
 
@media (max-width: 320px) {
   .text-home2 { font-size: 2em; }
}
.text-home1{
	margin-top: 200px;
	font-size:80px;
	font-family: 'Passion One', cursive;
	// font-size: 3vh;
	// font-size: 3vw;
	color: #082F8A;
	//este color #0D48B2 es mas bonito intenso con vida
	//font-size: 3vh; /*30% la altura del dispositivo*/
	//font-size: 3vw; /*30% el ancho del dispositivo*/
}
.text-home2{
    // color:#1A4686;
    color:#4372FF;
    font-family: 'Passion One', cursive;
    font-size:30px;

 //    font-size: 3vh;
	// font-size: 3vw;
    // este color es mas claro
}
// img{
// 	// margin-left:100px;
//  margin-top:30px;
//  border-radius:20%;
//  border:solid 1px skyblue;
//  // height:100px;
//  width:50%;
// }
.s-1{
	background-color:white;
	width:100%;
    height:100vh;
    // padding: 120px 20px 370px 330px;
    background-size: cover;
    background-position: center;
}
.s-2{
	background-color:#1A4686;
	width:100%;
    height:100vh;
    // padding: 120px 20px 370px 330px;
    background-size: cover;
    background-position: center;
}
//seccion naranja***************
.seccion-naranja{
    background-color:#ff9900;
    width:100%;
    height:100vh;
    // padding: 120px 20px 370px 330px;
    background-size: cover;
    background-position: center;
}
