// button:hover{
//    background-color:transparent;
// }
.boton{
	color:white;
	background-color:orange;
	text-decoration:none;
	padding:10px;
	border:1px orange;

}
a:hover{
   background-color:transparent;
   text-decoration:none;
}