// button:hover{
//    background-color:transparent;
// }
.boton{
	color:white;
	background-color:orange;
	text-decoration:none;
	padding:10px;
	border:1px orange;

}
.section-1{
   background-color: rgba(0,0,0,0.5);
}
a:hover{
   background-color:transparent;
   text-decoration:none;
}
// seccion de numeros e icon
.I{
	padding-top:100px;
	font-size:50px;
	color:white;
}
.text2, .text1{
    color:white;
}
.text1{
	font-size:50px;
}
.text2{
	font-size:20px;
}
// team de tres
.icono-team{
	font-size:20px;
	padding:5px;
	white-space:5px;
	background-color:$grey;
	color:white;
}
	.icono-face{
		font-size:20px;
		padding:5px 8px 5px 8px;
		white-space:5px;
		background-color:$grey;
		color:white;
	     }
	.correo{
        text-decoration:none;
		color:orange;

	}










